body {
    background-image: url('dys.jpg');
    text-align: center;
}

Master {
    text-align: center;
}

h1 {
    text-align: center;
    font-size: 50px;
    color: white;
}


form {
    text-align: center;
    margin: 20px auto;
    width: 320px;
    color: black;
}

input {
    padding: 10px;
    font-size: inherit;
}

    input[type="text"] {
        display: block;
        margin-bottom: 25px;
        width: 100%;
        border: 2px solid steelblue;
        background: #FAF6D9;
    }

    input[type="email"] {
        display: block;
        margin-bottom: 25px;
        width: 100%;
        border: 2px solid steelblue;
        background: #FAF6D9;
    }


    input[type="password"] {
        display: block;
        margin-bottom: 25px;
        width: 100%;
        border: 2px solid steelblue;
        background: #FAF6D9;
    }

    input[type="radio"] {
        margin: 0 8px 25px 18px;
    }

    input[type="submit"] {
        margin-bottom: 25px;
        width: 50%;
        border: 2px solid steelblue;
        background: steelblue;
        color: black;
    }
